<h1>Below Are The Currently Logged Days Off of The Office</h1>
<ul>
<% @days.each do |day| %>
<li> <%= day.dayoff %> </li>
<% end %>
</ul>

<p><%= link_to "Sign out", logout_path, method: :delete %></p>
